body {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: content-box;
  margin: 1em;
}

.container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: cadetblue;
  & > div.option {
    color: white;
    padding: 5px 10px;
  }
}
.container > div:hover {
  background-color: rgb(54, 89, 91);
}
@media screen and (max-width: 383px) {
  .container {
    display: flex;
    flex-direction: column;
    & > div.option {
      text-align: center;
    }
  }
}
